@font-face {
   font-family: regularFont;
   src: url("font/Sansation-Regular.ttf");
}

@font-face {
   font-family: lightFont;
   src: url("font/Sansation-Light.ttf");
}

@font-face {
   font-family: boldFont;
   src: url("font/Sansation-Bold.ttf");
}

body {
    height: 100%;
    font-family: lightFont;
    /*background-image: url("images/body_background_1.jpg");*/
    background-color: #666;
    color: #666;
}

#main {
    margin-top: 10%;
}
#container {
    display: none;
    width: 800px;
    background: rgb(255, 255, 255);
    background: rgba(255, 255, 255, 0.8);
    border: 0px solid white;
    border-radius: 10px;
    margin: auto;
}

#links {
    margin: 30px auto 0px auto;
    height: 200px;
    text-align: center;
}
.logos {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 5px;

    -webkit-transition: all 0.7s ease; /* Safari and Chrome */
    -moz-transition: all 0.7s ease; /* Firefox */
    -o-transition: all 0.7s ease; /* IE 9 */
    -ms-transition: all 0.7s ease; /* Opera */
    transition: all 0.7s ease;
}

.logos:hover {
    -webkit-transform:scale(1.25); /* Safari and Chrome */
    -moz-transform:scale(1.25); /* Firefox */
    -ms-transform:scale(1.25); /* IE 9 */
    -o-transform:scale(1.25); /* Opera */
     transform:scale(1.25);
}

#message {
    overflow: auto;
    text-align: left;
}
.profile_pic {
    position: relative;
    width: 80px;
    height: 80px;
    left: -100%;
    border-radius: 50%;
    margin: 5px;
}

.message_bubble {
    display: inline-block;
}

#greeting {
    text-align: center;
    border-radius: 20px; 
    border: 3px solid #666; 
    width: 400px;
    display: inline-block;
    margin: 10px 10px 10px 0px;
    padding: 10px;
}

div.speech {
    display: inline;
    content: ' ';
    position: relative;
    top: -50px;
    left: 10px;
    width: 0;
    height: 0;
    margin-top: 30px;
    border: 10px solid;
    border-color: transparent #666 #666 transparent;
}
